/*
font-family: 'Libre Baskerville', serif;
font-family: 'Source Sans Pro', sans-serif;

img {
    max-width: 100%;
    height: auto;
}

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all ease-in-out 250ms;
}

/**************** Typografi ***************/

h1 {
    color: #14664a;
    font-size: 2.5em;
    margin-bottom: .5em;
    text-align: center;
    font-variant-caps: all-petite-caps;
}

h2 {
    color: #14664a;
    font-size: 1.5em;
    margin-top: .5em;
    margin-bottom: .5em;
    text-align: center;
}

h3 {
    font-size: 1.6em;
    line-height: 1.5;
    font-variant-caps: all-petite-caps;
    width: 50%;
    margin: auto;
}

h4 {
    font-size: 1.3em;
    line-height: 2;
    color: white;
}

p {
    color: #283033;
    font-size: 1em;
    line-height: 1.5;
    margin-top: 1em;
    margin-bottom: 1em;
    font-family: 'Source Sans Pro', sans-serif;
}

/********** Billeder *************/
.logo {
    height: auto;
    width: auto;
    max-height: 100px;
    max-width: 250px;
    float: left;
    margin: 0 0 0 1em;
}

img {
    width: 100%;
}

.ikon {
    max-height: 40px;
    max-width: 40px;
}
/***********Knapper og links ************/

.button {
    background-color: #62d9b1;
    border: none;
    color: #293033;
    padding: .5em;
    margin-top: .5em;
    margin-bottom: .5em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Libre Baskerville', serif;
    font-size: 16px;
    font-weight: 600;
    font-variant: small-caps;
    border-radius: 12px;
}

a {
    color: #24b383;
}

/************* header panel ******************/

.headerkontakt {
    display: block;
    margin: 0 0 1em 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 12px;
    font-weight: 900;
    text-align: center;
    color: #e6f2ee;
    background-color: #293033;
    line-height: 1.5;
    height: 3em;
    background: rgba(41, 48, 51, 0.9)
    
}

.headerinfo {
    float: left;
    margin-right: 2em;
    margin-left: 2em;
    color: #e6f2ee;
}
/********** Navigation ************/

.navpunkter {
    height: 3em;
    padding: 0;
    list-style: none;
    text-transform: uppercase;
    font-size: 18px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    margin: 2em 2em;
}

nav ul li {
    float: right;
    padding: 0 1em;
    margin: 1em;
}

nav ul li a {
    text-decoration: none;
    color: #14664a;
}

a:hover, a:active { 
  color: #2fc7ea;
}

/*********** main *************/

section {
    margin-bottom: 4em;
}

.overskrift {
    text-align: left;
    font-size: 2em;
    margin: 0;
}

.arrangement {
    width: 70%;
    margin: auto;
    padding: 2em;
    border: #e6f2ee solid 4px;
    box-shadow: 12px 9px 0px -4px rgba(230,242,238,0.17);
}

.arrangement p {
    font-size: 1.2em;
}

.faktaboks {
    font-family: 'Libre Baskerville', serif;
    background-color: #14664a;
    color: #e6f2ee;
    padding: 4em 0;
    text-align: center;
    margin-bottom: 4em;
}

.toppanel {
    clear: both;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2%;
    background-color: #e6f2ee;
    margin-bottom: 2em;
}

.midterpanel {
    clear: both;
    padding: 1em 2em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}

.bundpanel {
    clear: both;
    padding: 1em 2em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    text-align: justify;
}

.midtercitat {
    width: 80%;
    margin: auto;
}

.tommerup {
    display: block;
    max-width: 170px;
    max-height: 200px;
    margin: auto;
}

.box2 {
    width: 100%;
    margin: auto;
    padding-right: 2em;
}

.box2 h3 {
    margin: 0;
}

/*********** footer *************/

footer {
    clear: both;
    padding-top: 1em;
    background-color: #293033;
    color: #e6f2ee;
    background: rgba(41, 48, 51, 0.9)
}

footer .container {
    margin-left: 2em;
    margin-right: 2em;
    padding-bottom: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.footerafsnit {
    padding-right: 1em;
    list-style-type: none;
    font-size: 1.2em;
    font-variant-caps: all-petite-caps;
}

footer a {
    color:#e6f2ee;   
}